<div class="product_page">
<div class="products__container">
  <ng-container *ngFor="let product of products">
    <section class="product__item">
      <figure class="product__figure">
        <img loading="lazy" *ngIf="product.image" [src]="product.image"
                  alt=""/>
      </figure>
      <a [routerLink]="['/product/' + product.id]">
        <div class="product__content">
          <p class="product__title">{{product.name}}</p>
          <em class="product__price">{{ product.price | currency: 'BGN' }}</em>
        </div>
      </a>
    </section>
  </ng-container>
</div>
<ul>
      <li *ngFor="let item of collection | paginate: { itemsPerPage: 15, currentPage: p, totalItems: productsCount }"> ... </li>
    </ul>

    <pagination-controls (pageChange)="reload($event)"></pagination-controls>
</div>
