<div class="search-filter">
  <div class="search-container">
    <form class="search-form" action="/action_page.php">
      <div class="input-form">
        <input [value]="search" type="text" placeholder="Въведи име на продукт" name="search" #searchName>
        <button type="button" class="btn bg-transparent"
                (click)="searchName.value=''; reload(1, '', currentDate, store, picker.value)">
          <i class="fa fa-times"></i>
        </button>
        <button type="submit" (click)="reload(1, searchName.value, currentDate, store, picker.value)"><i
          class="fa fa-search"></i>
        </button>
      </div>
    </form>
  </div>
  <ejs-daterangepicker placeholder="Избери интервал на промоция"
                       #picker
                       enablePersistence="true"
                       (valueChange)="reload(pageNumber, searchName.value, currentDate, store, picker.value)"
                       (cleared)="reload(pageNumber, searchName.value, currentDate, store, ['',''])">
  </ejs-daterangepicker>
  <div class="dropdown">
    <span class="dropdown-main">{{storeWrapper}}</span>
    <div class="dropdown-content">
      <p (click)="reload(1, searchName.value, currentDate, '', picker.value)">Всички</p>
      <p (click)="reload(1, searchName.value, currentDate, 'Kaufland', picker.value)">Kaufland</p>
      <p (click)="reload(1, searchName.value, currentDate, 'Lidl', picker.value)">Lidl</p>
      <p (click)="reload(1, searchName.value, currentDate, 'Billa', picker.value)">Billa</p>
    </div>
  </div>
</div>
<div class="product_page">
  <div class="products__container" *ngIf="products.length>0;else noResults">
    <ng-container *ngFor="let product of products">
      <section class="product__item">
        <figure class="product__figure">
          <img loading="lazy" *ngIf="product.image" [src]="product.image"
               alt=""/>
        </figure>
        <a [routerLink]="['/product/' + product.id]"
           [queryParams]="{search: search, page:pageNumber, store:store, startDate:promotionInterval[0], endDate: promotionInterval[1]}">
          <div class="product__content">
            <p class="product__title">{{product.name}}</p>
            <em class="product__price">{{ product.price | currency: 'BGN' }}</em>
          </div>
        </a>
      </section>
    </ng-container>
  </div>
  <ng-template #noResults>
    No results.
  </ng-template>
  <ul>
    <li
      *ngFor="let item of collection | paginate: { itemsPerPage: itemsPerPage, currentPage: pageNumber, totalItems: productsCount }">
      ...
    </li>
  </ul>

  <pagination-controls
    (pageChange)="reload($event, searchName.value, currentDate, store, picker.value)"></pagination-controls>
</div>
