:host {
  width: 100%;
  --productSize: 300px;
}

.products__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: var(--productSize);
  grid-gap: 1rem;

}

.product {
  &__item {
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.28);
    box-shadow: 0px 0px 23px -7px rgba(0, 0, 0, 0.28);
  }

  &__title {
    font-size: 1.2rem;
    hyphens: auto;
  }

  &__content {
    display: flex;
    padding: 0.5rem;
  }

  &__price {
    margin-left: auto;
    font-size: 1.6rem;
    color: #000;
  }

  &__image {
    height: calc(var(--productSize) - 100px);
    width: 100%;
    object-fit: cover;
  }

  &__figure {
    height: calc(var(--productSize) - 100px);
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}

pagination-controls {
  text-align: center;
}

.product_page {
  padding-bottom: 100px;
}

.search-container {
  text-align: center;
  margin: 20px 0;
  display: flex !important;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 80%;
}

.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20vw;
}

@media screen and (max-width: 600px) {
  .products__container {
    grid-template-columns: repeat(1, 1fr);

  }

  .search-container {
    margin-left: -30px;
    float: none;
  }
  input[type=text], .search-container button {
    float: none;
    display: block;
    text-align: left;
    margin: 0;
    padding: 14px;
  }
  input[type=search] {
    border: 1px solid #ccc;
  }

  .input-form {
    min-width: 90vw;
  }

  .search-filter {
    flex-direction: column;
  }

  .filters {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    width: 80vw;
  }

  .date-picker {
    margin-right: 20px
  }

  .ngx-pagination {
    padding: 0px;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  min-width: 115px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.search-filter {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  max-width: 960px;
  align-items: center;
}

.input-form {
  display: flex !important;
  width: 30vw;
}

.dropdown-main {
  background: #c3c4c7;
  border-radius: 10px;
  padding: 10px;
  display: block;
  text-align: center;
}

button[type=button] {
  margin-right: 0px !important;
}

.no-result {
  text-align: center;
  font-size: 35px;
  padding: 20px;
}
