.section {
  border: 1px solid #ccc;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  width: 40vw;
}

.paragraph {
  color: #555;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 50%;
}

.title {
  font-size: 24px;
  color: #222;
  line-height: 24px;
}

img {
  //max-width: 100%;
  width: 50%;
  max-height: 100%;
}

.square {
  //height: 400px;
  //width: 400px;
  border-radius: 25px;
}

.price_component {
  min-width: 25%;
  padding: 20px;
}

.discount {
  font-size: 15px;
  background: yellow;
  text-align: center;


  padding: 5px;
}

.old_price {
margin-right: 50px;
  padding: 5px;
  text-decoration: line-through;
}

.new_price {
  padding: 5px;
font-size: 20px;
  display: flex;
  flex-flow: row-reverse;
}

.logo {
  height: 50px;
  width: 50px;
  padding: 20px;
}

.product_price {
  background: red;
  min-height: 50px;
}

.promotion {
  background: grey;

  padding: 5px;
}

@media screen and (max-width: 600px) {
  .section {
    border: 1px solid #ccc;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }
}

.bottom-section{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
