<ng-container *ngIf="productItem">
  <section class="section">
    <img [src]="productItem.image" class="square"/>
    <div class="content">

      <h2 class="title">
        {{productItem.title}} {{productItem.subtitle}}
      </h2>
      <p class="paragraph">
        {{productItem.description}}
      </p>
      <p>
        {{productItem.quantity}}
      </p>
      <p>
        {{productItem.basePrice}}
      </p>
      <div class="price_component">
        <div class="discount">
          {{productItem.discountPhrase}}
        </div>
        <div class="product_price">
          <div class="old_price">
            {{productItem.oldPrice}}лв.
          </div>
          <div class="new_price">
            {{productItem.price}}лв.
          </div>
        </div>
      </div>
      <div>
        <p>Промоцията е валидна от:</p>
        <div class="promotion">{{productItem.promotionStart}} - {{productItem.promotionEnd}}</div>
      </div>
      <div>
        <img [src]="productItem.storeLogo" class="logo"/>
      </div>
    </div>
  </section>
  <div class='card-footer'>
    <button class='btn btn-outline-secondary'
            style='width:80px'
            (click)='onBack()'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>
</ng-container>
