asgiref==3.5.2
attrs==22.1.0
beautifulsoup4==4.11.1
certifi==2022.9.24
charset-normalizer==2.1.1
Django==4.1.2
django-4-jet @ git+https://github.com/Mojtaba-saf/django-jet.git@c4b80834a12269ccffb4b85c1401d3b0a8b50817
django-cors-headers==3.13.0
django-crontab==0.7.1
django-filter==22.1
djangorestframework==3.14.0
exceptiongroup==1.0.1
idna==3.4
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
psycopg2==2.9.5
psycopg2-binary==2.9.5
pyparsing==3.0.9
pytest==7.2.0
pytest-django==4.5.2
pytz==2022.6
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
tomli==2.0.1
urllib3==1.26.12
